<ion-header [translucent]="true">
    <ion-toolbar color="rojooscuro">
        <ion-title>
            <strong>Realizar Pedido</strong>
        </ion-title>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="start" name="newspaper-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
        <ion-refresher-content
        pullingIcon="arrow-dowm-circle-outline"
        pullingText="Deslice para actualizar"
        refreshingSpinner="bubbles"
        refreshingText="Actualizando...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-img [src]="comercio.imgURL"></ion-img>
            </ion-avatar>
            <p>
                <strong >Pedir a "{{comercio.title}}"</strong>
            </p>
        </ion-item>
    </ion-list>

    <ion-fab vertical="top" horizontal="end">
        <ion-fab-button size="small" color="azulito">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button size="small" id="mostrarPedido" name="mostrarPedido" disabled="false" activated="false" (click)="buscarFuncionClick()">
                <ion-icon id="icono" name="add-circle-outline" color="primary"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="4" offset-md="4">
                <ion-list id="productList">

                </ion-list>
            </ion-col>
        </ion-row>

        <!-- Domicilio de entrega -->
        <ion-card>
            <ion-card-header>
                Seleccione Domicilio de Entrega
            </ion-card-header>
            <form [formGroup]="domicilio" (ngSubmit)="submit()">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating" >Ciudad</ion-label>
                        <ion-select [(ngModel)]="ciudadSeleccionada" formControlName="ciudad" placeholder="Seleccione una ciudad" (ionChange)="obtenerCiudad( $event )">
                            <!--<ion-select-option value="  " >Seleccione una ciudad</ion-select-option> -->
                            <ion-select-option value="Cordoba" >Cordoba</ion-select-option>
                            <ion-select-option value="La Calera" >La Calera</ion-select-option>
                            <ion-select-option value="Alta Gracia" >Alta Gracia</ion-select-option>
                            <ion-select-option value="Rio Cuarto" >Rio Cuarto</ion-select-option>
                            <ion-select-option value="Tecka" >Tecka</ion-select-option>
                            <ion-select-option value="Hernando">Hernando</ion-select-option>
                        </ion-select>
                        <div *ngFor="let error of errorMessages.ciudad">
                            <ng-container *ngIf="ciudad.hasError(error.type) && (ciudad.dirty || ciudad.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                        <!--<ion-input formControlName="ciudad"></ion-input>-->
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating">Calle</ion-label>
                        <ion-input formControlName="calle" [(ngModel)]= "nombreCalle"></ion-input>
                        <div *ngFor="let error of errorMessages.calle">
                            <ng-container *ngIf="calle.hasError(error.type) && (calle.dirty || calle.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Número</ion-label>
                        <ion-input type="number" formControlName="numero" [(ngModel)]= "numeroCalle"></ion-input>
                        <div *ngFor="let error of errorMessages.numero">
                            <ng-container *ngIf="numero.hasError(error.type) && (numero.dirty || numero.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Piso</ion-label>
                        <ion-input type="number" formControlName="piso" [(ngModel)]= "numeroPiso"></ion-input>
                        <div *ngFor="let error of errorMessages.piso">
                            <ng-container *ngIf="piso.hasError(error.type)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Departamento</ion-label>
                        <ion-input type="text" formControlName="departamento" [(ngModel)]= "numeroDepartamento"></ion-input>
                        <div *ngFor="let error of errorMessages.departamento">
                            <ng-container *ngIf="departamento.hasError(error.type)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Referencias (opcional)</ion-label>
                        <ion-textarea rows="6" cols="20" formControlName="referencia" [(ngModel)]= "referenciaIngresada"></ion-textarea>
                    </ion-item>
                    <!--<ion-button [disabled]="!domicilio.valid" expanded="block">
                        Submit
                        <ion-icon slot="end" name="create"></ion-icon>
                    </ion-button> -->
                </ion-list>
            </form>
        </ion-card>

        <!--Modalidad de entrega-->
        <ion-card>
            <ion-card-header>
                Seleccione Modalidad de entrega
            </ion-card-header>
            <ion-list>
                <ion-radio-group [(ngModel)]="seleccionarEntrega">

                    <ion-item>
                        <ion-label>Lo antes posible
                        <small>(~ 30 min)</small>
                    </ion-label>
                        <!--- <small>(demora de 30 minutos)</small> -->
                        <ion-radio slot="start" value="biff" checked (click)="ocultarSelectorFecha()"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Envio Programado</ion-label>
                        <ion-radio slot="start" value="griff"  (click)="mostrarSelectorFecha()"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ion-card>
        <ion-card id="rowFecha" *ngIf="selectorFechaVisible">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Hora de envio</ion-label>
                        <ion-datetime id="hora" displayFormat="HH:mm A" value="{{hora}}" cancelText="Cancelar Hora" doneText="Confirmar Hora" (ionChange)="cambioHora( $event )"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label stacked position="floating">Fecha de envio</ion-label>
                        <ion-datetime id = "dia" displayFormat="DD MMM" value="{{fecha | date: 'yyyy-MM-dd'}}" min="{{fecha | date: 'yyyy-MM-dd'}}" cancelText="Cancelar Fecha" doneText="Confirmar Fecha" (ngModel)="fecha.toISOString()" (ionChange)="cambioFecha( $event )" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>

        <!--Forma de pago-->
        <ion-card>
            <ion-card-header>
                Seleccione Forma de pago
            </ion-card-header>
            <ion-list>
                <ion-radio-group [(ngModel)]="seleccionarPago">

                    <ion-item>
                        <ion-label>Efectivo</ion-label>
                        <ion-radio slot="start" value="biff" (click)="ocultarSelectorTarjeta()"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Con tarjeta VISA</ion-label>
                        <ion-radio slot="start" value="griff"  (click)="mostrarSelectorTarjeta()"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ion-card>

        <!--Selecciona pago efectivo-->
        <ion-card id="rowTarjeta" *ngIf="!selectorTarjetaVisible">
            <ion-card-header>
                Pago en efectivo
            </ion-card-header>
            <form [formGroup]="metodoPagoEfectivo">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Monto: $</ion-label>
                        <ion-input type="number" id="montoIngresado"  [(ngModel)]= "limpiarValore" (ionChange)="validarMonto( $event )" formControlName="efectivo"></ion-input>
                        <div *ngFor="let error of errorMessages.efectivo">
                            <ng-container *ngIf="efectivo.hasError(error.type) && (efectivo.dirty || efectivo.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                        <div>
                            <small class="error-message2"></small>
                        </div>
                    </ion-item>
                   <!-- <ion-button [disabled]="!metodoPagoEfectivo.valid" expanded="block">
                        Submit
                        <ion-icon slot="end" name="create"></ion-icon>
                    </ion-button> -->
                </ion-list>
            </form>
        </ion-card>
        <!--Selecciona pago con tarjeta-->
        <ion-card id="rowTarjeta" *ngIf="selectorTarjetaVisible">
            <ion-card-header>
                Pago con tarjeta VISA
            </ion-card-header>
            <form [formGroup]="metodoPagoTarjeta">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Número de Tarjeta <small>(debe tener 16 digitos)</small></ion-label>
                        <ion-input type="tel" maxlength="16" pattern="[0-9]*" [(ngModel)]= "numeroTarjetaVISA" formControlName="numeroTarjeta" (ionChange)="validarTarjeta( $event )"></ion-input>
                        <div *ngFor="let error of errorMessages.numeroTarjeta">
                            <ng-container *ngIf="numeroTarjeta.hasError(error.type) && (numeroTarjeta.dirty || numeroTarjeta.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"> Nombre del titular de la Tarjeta</ion-label>
                        <ion-input formControlName="nombreTarjeta" [(ngModel)]= "titularTarjeta"></ion-input>
                        <div *ngFor="let error of errorMessages.nombreTarjeta">
                            <ng-container *ngIf="nombreTarjeta.hasError(error.type) && (nombreTarjeta.dirty || nombreTarjeta.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"> Expiración (MM/AAAA)</ion-label>
                        <ion-input type="tel" maxlength="7" formControlName="expiracion"></ion-input>
                        <div *ngFor="let error of errorMessages.expiracion">
                            <ng-container *ngIf="expiracion.hasError(error.type) && (expiracion.dirty || expiracion.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Código de Seguridad</ion-label>
                        <ion-input type="text" maxlength="3" formControlName="codSeguridad"></ion-input>
                        <div *ngFor="let error of errorMessages.codSeguridad">
                            <ng-container *ngIf="codSeguridad.hasError(error.type) && (codSeguridad.dirty || codSeguridad.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                   <!-- <ion-button [disabled]="!metodoPagoTarjeta.valid" expanded="block">
                        Submit
                        <ion-icon slot="end" name="create"></ion-icon>
                    </ion-button> -->
                </ion-list>
            </form>
        </ion-card>
    </ion-grid>

    
   <ion-card *ngIf= "validarRecarga()">
        <ion-card-header>
            Resumen del pedido
        </ion-card-header>
        <ion-card-content>
            <ion-item-group>
                <ion-item-divider color="naranjita">
                    <h3><strong>Resumen del pago:</strong></h3>
                </ion-item-divider>
                <ion-item>
                    <ion-label>Total: $ {{precio}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Forma de Pago : <ion-icon id="iconoPago" name="{{!selectorTarjetaVisible? 'cash-outline' : 'card-outline'}}"></ion-icon> {{modoPago}}
                        <small *ngIf="!selectorTarjetaVisible"> 
                            <ion-label> Vuelto: $ {{vuelto}}</ion-label>
                        </small>
                        <small *ngIf="selectorTarjetaVisible"> 
                            <ion-row>
                                <ion-col size="3">
                                    <ion-label>
                                            <ion-img slot="start" style="height: 15%;" src="https://seranoticia.com/wp-content/uploads/2019/01/visa.jpg"></ion-img>
                                    </ion-label>
                                </ion-col>
                                <ion-col size="5" *ngIf="metodoPagoTarjeta.valid">
                                    <ion-label>{{titularTarjeta}}<br>{{mostrarVISA}}</ion-label>
                                </ion-col>
                            </ion-row>
                        </small>
                    </ion-label>
                    
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider color="naranjita" >
                    <h3><strong>Domicilio de entrega:</strong></h3>    
                </ion-item-divider>
                <ion-item>
                    <ion-label>
                    <p *ngIf="domicilio.valid">
                        ({{ciudadSeleccionada}}) {{nombreCalle}} {{numeroCalle}}
                    <ion-label id="labelDomicilio">
                        <small id="parrafoDetalleDomicilio" *ngIf="numeroPiso >= -2 && numeroPiso !== null">
                              Piso: {{numeroPiso}}{{numeroDepartamento}} 
                        </small>
                        <small id="parrafoDetalleDomicilio" *ngIf='referenciaIngresada !== "" '>
                            ; Referencias: "{{referenciaIngresada}}"
                        </small>
                    </ion-label>
                    </p>
                </ion-label>
                </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="!selectorFechaVisible">
                <ion-item-divider color="naranjita">
                    <h3><strong>Hora de entrega:</strong></h3>
                </ion-item-divider>
                <ion-item>
                    {{horaLoAntesPosible | date: 'HH:mm'}} hs
                </ion-item>
            </ion-item-group>
            <ion-item-group *ngIf="selectorFechaVisible">
                <ion-item-divider color="naranjita">
                    <h3><strong>Fecha y hora de entrega:</strong></h3>
                </ion-item-divider>
                <ion-item>
                    <ion-label>
                        <p>
                        Fecha:{{fechaSeleccionada | date: 'dd/MM/yyyy'}}
                    </p>
                    </ion-label>
                    <ion-label>
                        <p>
                        Hora: {{horaProgramada | date: 'HH:mm'}} hs
                    </p>
                    </ion-label>
                </ion-item>
            </ion-item-group>
            <ion-button shape="round" size="default" expand="block" color="azulito" class="buttonConfirm ion-activatable ripple-parent" (click)="confirmarPedido()">
                <ion-icon slot="start" name="checkmark-outline"></ion-icon>
                Confirmar Pedido
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

