#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.error-message{
  color: var(--ion-color-rojooscuro);
}
.error-message2{
  color: var(--ion-color-rojooscuro);
}

.buttonConfirm{
  --color: var(--ion-color-rojooscuro-tint);
}
.invalid{
  $text-input-placeholder-color: red;
}

#parrafoDetalleDomicilio{
  font-size: 10pt;
}

#entregaModificada{
  font-size: 12pt;
}
