<ion-header>
  <ion-toolbar color="rojooscuro">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title><strong>Pedido Confirmado</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 5px; margin-top: 10%; margin-left: 5%;margin-right: 5%;">
    <ion-card-header>
      <ion-card-title color="blanquito">
        Pedido Confirmado 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content" style="padding-top: 20px;">
      <ion-img src="../../assets/icon/gifConfirmacion.gif" style="margin-bottom: 30px;"></ion-img>
      <div style="text-align: center;">
        <ion-text style="font-size: 20px; color: black;">
          Su pedido fue realizado con exito !!!
        </ion-text>
          <ion-button style="margin-top: 30px; text-align: center;" (click)="presentAlert()">Volver a la Home</ion-button>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>
