<ion-header [translucent]="true">
    <ion-toolbar color="warning">
        <ion-title>
            <strong>Realizar Pedido</strong>
        </ion-title>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="start" name="newspaper-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-img [src]="comercio.imgURL"></ion-img>
            </ion-avatar>
            <ion-label>
                <strong>Pedir a {{comercio.title}}</strong>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button id="mostrarPedido" disabled="false" activated="false" (click)="cargarPedido()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button id="cancelarPedido" disabled="true" activated="true" (click)="borrarPedido()">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="4" offset-md="4">
                <ion-list id="productList">

                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-radio-group value="biff">
                    <ion-list-header>
                        <ion-label>Seleccione Modalidad de entrega</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Lo antes posible</ion-label>
                        <ion-radio slot="start" value="biff" (click)="ocultarSelectorFecha()"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Envio Programado</ion-label>
                        <ion-radio slot="start" value="griff" (click)="mostrarSelectorFecha()"></ion-radio>
                    </ion-item>

                </ion-radio-group>
            </ion-list>
        </ion-row>
        <ion-row id="rowFecha" *ngIf="selectorFechaVisible">
            <ion-col>
                <ion-item>
                    <ion-item>
                        <ion-label>Hora de envio</ion-label>
                        <ion-datetime displayFormat="HH:mm " placeholder="Hora:Minuto "></ion-datetime>
                    </ion-item>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-item>
                        <ion-label>Fecha de envio</ion-label>
                        <ion-datetime displayFormat="MMMM DD " placeholder="Mes Dia "></ion-datetime>
                    </ion-item>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>