<ion-header [translucent]="true">
    <ion-toolbar color="warning">
        <ion-title>
            <strong>Realizar Pedido</strong>
        </ion-title>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="start" name="newspaper-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-img [src]="comercio.imgURL"></ion-img>
            </ion-avatar>
            <ion-label>
                <strong>Pedir a {{comercio.title}}</strong>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button id="mostrarPedido" disabled="false" activated="false" (click)="cargarPedido()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button id="cancelarPedido" disabled="true" activated="true" (click)="borrarPedido()">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="4" offset-md="4">
                <ion-list id="productList">

                </ion-list>
            </ion-col>
        </ion-row>
        
    <!-- Domicilio de entrega -->

    <ion-list-header>
        <ion-label>Seleccione Domicilio de Entrega</ion-label>
    </ion-list-header>
    <form [formGroup]="domicilio" (ngSubmit)="submit()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Ciudad</ion-label>
                <ion-input formControlName="ciudad"></ion-input>
            </ion-item>

            <div *ngFor="let error of errorMessages.ciudad">
                <ng-container *ngIf="ciudad.hasError(error.type) && (ciudad.dirty || ciudad.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>

            <ion-item>
                <ion-label position="floating">Calle</ion-label>
                <ion-input formControlName="calle"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.calle">
                <ng-container *ngIf="calle.hasError(error.type) && (calle.dirty || calle.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            <ion-item>
                <ion-label position="floating">Número</ion-label>
                <ion-input type="number" formControlName="numero"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.numero">
                <ng-container *ngIf="numero.hasError(error.type) && (numero.dirty || numero.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            <ion-item>
                <ion-label position="floating">Piso</ion-label>
                <ion-input type="number" formControlName="piso"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Departamento</ion-label>
                <ion-input type="number" formControlName="departamento"></ion-input>
            </ion-item>
            <ion-button [disabled]="!domicilio.valid" expanded="block">
                Submit
                <ion-icon slot="end" name= "create"></ion-icon> 
            </ion-button>
        </ion-list>
    </form>
   

    <!--Modalidad de entrega-->
        <ion-row>
            <ion-list>
                <ion-radio-group value="biff">
                    <ion-list-header>
                        <ion-label>Seleccione Modalidad de entrega</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Lo antes posible</ion-label>
                        <ion-radio slot="start" value="biff" (click)="ocultarSelectorFecha()"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Envio Programado</ion-label>
                        <ion-radio slot="start" value="griff" (click)="mostrarSelectorFecha()"></ion-radio>
                    </ion-item>

                </ion-radio-group>
            </ion-list>
        </ion-row>
        <ion-row id="rowFecha" *ngIf="selectorFechaVisible">
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Hora de envio</ion-label>
                    <ion-datetime displayFormat="HH:mm A"  value="{{horaParcial}}" cancelText="Cancelar Hora" doneText="Confirmar Hora" (ionChange)="cambioHora( $event )"></ion-datetime>
                </ion-item>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-item>
                    <ion-label stacked position="floating">Fecha de envio</ion-label>
                    <ion-datetime displayFormat="DD MMM" value="{{fecha | date: 'yyyy-MM-dd'}}" min="{{fecha | date: 'yyyy-MM-dd'}}"  cancelText="Cancelar Fecha" doneText="Confirmar Fecha" (ngModel)="fecha.toISOString()"(ionChange)="cambioFecha( $event )"
                    monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>

        <!--Forma de pago-->
        <ion-row>
            <ion-list>
                <ion-radio-group value="biff">
                    <ion-list-header>
                        <ion-label>Seleccione Forma de pago</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Efectivo</ion-label>
                        <ion-radio slot="start" value="biff" (click)="ocultarSelectorTarjeta()"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Con tarjeta VISA</ion-label>
                        <ion-radio slot="start" value="griff" (click)="mostrarSelectorTarjeta()"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ion-row>
        
        <!--Selecciona pago efectivo-->
        <ion-row id="rowTarjeta" *ngIf="!selectorTarjetaVisible">
            <form [formGroup]="metodoPagoEfectivo">
                <ion-list>
                    <ion-col>
                        <ion-item>
                            <ion-label position="floating">Monto (opcional)</ion-label>
                            <ion-input type="number" formControlName="efectivo"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-list>
            </form>
        </ion-row>
        <!--Selecciona pago con tarjeta-->
        <ion-row id="rowTarjeta" *ngIf="selectorTarjetaVisible">
            <form [formGroup]="metodoPagoTarjeta">
                <ion-list>
                    <ion-col>
                        <ion-item>
                            <ion-label position="floating">Número de Tarjeta</ion-label>
                            <ion-input type="tel" pattern="[0-9]*" maxlength="16" formControlName="numeroTarjeta"></ion-input>
                        </ion-item>
                        <div *ngFor="let error of errorMessages.numeroTarjeta">
                            <ng-container *ngIf="numeroTarjeta.hasError(error.type) && (numeroTarjeta.dirty || numeroTarjeta.touched)">
                              <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                        <ion-item>
                            <ion-label position="floating"> Nombre del titular de la Tarjeta</ion-label>
                            <ion-input formControlName="nombreTarjeta"></ion-input>
                        </ion-item>
                        <div *ngFor="let error of errorMessages.nombreTarjeta">
                            <ng-container *ngIf="nombreTarjeta.hasError(error.type) && (nombreTarjeta.dirty || nombreTarjeta.touched)">
                              <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                        <ion-item>
                            <ion-label position="floating"> Expiración (MMAA)</ion-label>
                            <ion-input type="tel" pattern="[0-9]*" maxlength="4" formControlName="expiracion"></ion-input>
                        </ion-item>
                        <div *ngFor="let error of errorMessages.expiracion">
                            <ng-container *ngIf="expiracion.hasError(error.type) && (expiracion.dirty || expiracion.touched)">
                              <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                        <ion-item>
                            <ion-label position="floating">Código de Seguridad</ion-label>
                            <ion-input type="tel" pattern="[0-9]*" maxlength="3" formControlName="codSeguridad"></ion-input>
                        </ion-item>
                        <div *ngFor="let error of errorMessages.codSeguridad">
                            <ng-container *ngIf="codSeguridad.hasError(error.type) && (codSeguridad.dirty || codSeguridad.touched)">
                              <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-col>
                </ion-list>
            </form>
        </ion-row>
    </ion-grid>
</ion-content>
