<ion-header [translucent]="true">
    <ion-toolbar color="rojooscuro">
        <ion-title>
            <strong>Realizar Pedido</strong>
        </ion-title>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="start" name="newspaper-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-img [src]="comercio.imgURL"></ion-img>
            </ion-avatar>
            <ion-label color="botondos">
                <strong>Pedir a " {{comercio.title}} "</strong>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="top" horizontal="end">
        <ion-fab-button color="auxiliaruno" sty>
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button id="mostrarPedido" name="mostrarPedido" disabled="false" activated="false" (click)="buscarFuncionClick()">
                <ion-icon id="icono" name="add-circle-outline" color="primary"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size-md="4" offset-md="4">
                <ion-list id="productList">

                </ion-list>
            </ion-col>
        </ion-row>

        <!-- Domicilio de entrega -->
        <ion-card>
            <ion-list-header>
                <ion-label>Seleccione Domicilio de Entrega</ion-label>
            </ion-list-header>
            <form [formGroup]="domicilio" (ngSubmit)="submit()">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Ciudad</ion-label>
                        <ion-select formControlName="ciudad" placeholder="Seleccione una ciudad">
                            <ion-select-option>Cordoba</ion-select-option>
                            <ion-select-option>La Calera</ion-select-option>
                            <ion-select-option>Alta Gracias</ion-select-option>
                            <ion-select-option>Rio Cuarto</ion-select-option>
                        </ion-select>
                        <div *ngFor="let error of errorMessages.ciudad">
                            <ng-container *ngIf="ciudad.hasError(error.type) && (ciudad.dirty || ciudad.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                        <!--<ion-input formControlName="ciudad"></ion-input>-->
                    </ion-item>


                    <ion-item>
                        <ion-label position="floating">Calle</ion-label>
                        <ion-input formControlName="calle"></ion-input>
                        <div *ngFor="let error of errorMessages.calle">
                            <ng-container *ngIf="calle.hasError(error.type) && (calle.dirty || calle.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Número</ion-label>
                        <ion-input type="number" formControlName="numero"></ion-input>
                        <div *ngFor="let error of errorMessages.numero">
                            <ng-container *ngIf="numero.hasError(error.type) && (numero.dirty || numero.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Piso</ion-label>
                        <ion-input type="number" formControlName="piso"></ion-input>
                        <div *ngFor="let error of errorMessages.piso">
                            <ng-container *ngIf="piso.hasError(error.type)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Departamento</ion-label>
                        <ion-input type="number" formControlName="departamento"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Referencias (opcional)</ion-label>
                        <ion-textarea rows="6" cols="20" formControlName="referencia"></ion-textarea>
                    </ion-item>
                    <ion-button [disabled]="!domicilio.valid" expanded="block">
                        Submit
                        <ion-icon slot="end" name="create"></ion-icon>
                    </ion-button>
                </ion-list>
            </form>
        </ion-card>

        <!--Modalidad de entrega-->
        <ion-card>
            <ion-list>
                <ion-radio-group value="biff">
                    <ion-list-header>
                        <ion-label>Seleccione Modalidad de entrega</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Lo antes posible (va a tardar 30 minutos la entrega)</ion-label>
                        <ion-radio slot="start" value="biff" (click)="ocultarSelectorFecha()"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Envio Programado</ion-label>
                        <ion-radio slot="start" value="griff" (click)="mostrarSelectorFecha()"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ion-card>
        <ion-card id="rowFecha" *ngIf="selectorFechaVisible">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Hora de envio</ion-label>
                        <ion-datetime id="hora" displayFormat="HH:mm A" value="{{horaParcial}}" cancelText="Cancelar Hora" doneText="Confirmar Hora" (ionChange)="cambioHora( $event )"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label stacked position="floating">Fecha de envio</ion-label>
                        <ion-datetime id = "dia" displayFormat="DD MMM" value="{{fecha | date: 'yyyy-MM-dd'}}" min="{{fecha | date: 'yyyy-MM-dd'}}" cancelText="Cancelar Fecha" doneText="Confirmar Fecha" (ngModel)="fecha.toISOString()" (ionChange)="cambioFecha( $event )" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>

        <!--Forma de pago-->
        <ion-card>
            <ion-list>
                <ion-radio-group value="biff">
                    <ion-list-header>
                        <ion-label>Seleccione Forma de pago</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Efectivo</ion-label>
                        <ion-radio slot="start" value="biff" (click)="ocultarSelectorTarjeta()"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Con tarjeta VISA</ion-label>
                        <ion-radio slot="start" value="griff" (click)="mostrarSelectorTarjeta()"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ion-card>

        <!--Selecciona pago efectivo-->
        <ion-card id="rowTarjeta" *ngIf="!selectorTarjetaVisible">
            <form [formGroup]="metodoPagoEfectivo">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Monto</ion-label>
                        <ion-input type="number" formControlName="efectivo"></ion-input>
                        <div *ngFor="let error of errorMessages.efectivo">
                            <ng-container *ngIf="efectivo.hasError(error.type) && (efectivo.dirty || efectivo.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                </ion-list>
            </form>
        </ion-card>
        <!--Selecciona pago con tarjeta-->
        <ion-card id="rowTarjeta" *ngIf="selectorTarjetaVisible">
            <form [formGroup]="metodoPagoTarjeta">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Número de Tarjeta</ion-label>
                        <ion-input type="tel" pattern="[0-9]*" formControlName="numeroTarjeta"></ion-input>
                        <div *ngFor="let error of errorMessages.numeroTarjeta">
                            <ng-container *ngIf="numeroTarjeta.hasError(error.type) && (numeroTarjeta.dirty || numeroTarjeta.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"> Nombre del titular de la Tarjeta</ion-label>
                        <ion-input pattern="^[A-Za-z]*$" formControlName="nombreTarjeta"></ion-input>
                        <div *ngFor="let error of errorMessages.nombreTarjeta">
                            <ng-container *ngIf="nombreTarjeta.hasError(error.type) && (nombreTarjeta.dirty || nombreTarjeta.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating"> Expiración (MM/AAAA)</ion-label>
                        <ion-input type="tel" pattern="(((0[123456789]|10|11|12)/(([1][9][0-9][0-9])|([2][0-9][0-9][0-9]))))" formControlName="expiracion"></ion-input>
                        <div *ngFor="let error of errorMessages.expiracion">
                            <ng-container *ngIf="expiracion.hasError(error.type) && (expiracion.dirty || expiracion.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Código de Seguridad</ion-label>
                        <ion-input type="tel" pattern="[0-9]*" maxlength="3" formControlName="codSeguridad"></ion-input>
                        <div *ngFor="let error of errorMessages.codSeguridad">
                            <ng-container *ngIf="codSeguridad.hasError(error.type) && (codSeguridad.dirty || codSeguridad.touched)">
                                <small class="error-message">{{error.message}}</small>
                            </ng-container>
                        </div>
                    </ion-item>
                </ion-list>
            </form>
        </ion-card>
    </ion-grid>
</ion-content>